<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="120" android:versionName="1.2-SNAPSHOT" package="albin.oredev2012">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:debuggable="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:theme="@style/AppTheme">
        <activity android:name=".LaunchActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SpeakerListActivity_">
        </activity>
        <activity android:label="Sessions" android:name=".SessionListActivity_">
        </activity>
        <activity android:label="@string/speakers_title" android:name=".SpeakerDetailActivity_">
        </activity>
        <activity android:name=".SessionDetailActivity_"/>
        <activity android:label="@string/search_title" android:name=".SearchActivity_"/>
    </application>

</manifest>