bin/
gen/
out/
instrumented/
.classpath
.project
.settings
org.eclipse.jdt.core.prefs
*.iml
local.properties
*~
target/
.DS_Store
coverage.em
coverage
.idea/
classes/
s101plugin.state
release.properties
lint.txt
.factorypath
.apt_generated
